<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Klantinformatie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hefs/stylesheet.css' %}"/>
</head>
<body>
{% include "helpers/navbar.html" %}

<h1 class="page-title">Nieuwe orders ophalen</h1>

<div>
    <form action="get_orders" method="post" enctype="multipart/form-data" autocomplete="off">
        <div class="get-orders-div">
            {% csrf_token %}
            <p>
                <br>
                <button class="button-48" type="submit">Haal nieuwe orders op</button>
            </p>

        </div>
    </form>
</div>
<hr>

<div>
    <form action="handle_alterated_new_orders" method="post" enctype="multipart/form-data" autocomplete="off">
        <div class="get-orders-div">
            {% csrf_token %}
            <p>
                <p>Deze knop ↓ alleen indrukken als je de SKU's in NewOrders hebt verandert en deze wil triggeren</p>
                <br>
                <button class="button-48" type="submit">Bereken aangepaste nieuwe orders</button>
            </p>

        </div>
    </form>
</div>

</body>
</html>