body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 480px; /* Keep the width reasonable for mobile */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#camera-container {
    height: 50vh; /* Ensure the camera takes the top half of the screen */
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

#reader {
    width: 100%;
    height: 100%;
}

/* Scanned List Section */
#scanned-list-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

#scanned-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#scanned-list th, #scanned-list td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#scanned-list th {
    background-color: #266705;
    color: #fff;
}

#scanned-list .odd {
    background-color: #c1c0c0;
}

#scanned-list .even {
    background-color: #ffffff;
}

#scanned-list td {
    font-size: 14px;
}

/* Styling for headers */
h2, h3 {
    text-align: center;
    color: #333;
    font-size: 1.2em;
    margin: 0;
}

.notification {
    position: fixed;
    top: 20px;  /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;  /* Green for success */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;  /* Space between notifications */
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.notification.error {
    background-color: #dc3545;  /* Red for error */
}

