
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.page-title {
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    margin-top: 0px;
    color: black;
    outline: none;
    text-align: center;
    background-color: #346751;
    opacity: 0.8;
}

.accountdiv {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #346751;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sub-information {
    margin: 0 0 0 5%;
    padding: 0px;

}

.sub-information-div {
    /*margin: 0 0 0 5%;*/
    /*padding: 0px;*/
    display: inline;

}

.sub-information-ul {
    /*border-bottom: 1px solid #000;*/
}

.sub-information-div-header {
    display: inline;
}

.sub-information-div-text {
    /*margin: 0 0 0 5%;*/
    padding: 0px;
    display: inline;
    vertical-align: top;
}

.pickbonnen-form {
    background-color: lightgray;
    width: 25%;
}

#vehTable {
    border: 1px solid;
    border-collapse: collapse;
}

.table {
    border: 1px solid;
    border-collapse: collapse;
}

.table-head {
    border: 1px solid;
}

.table-heading {
    border: 1px solid;
}

.table-rows {
    border: 1px solid;
}

.table-rows:hover {
    border: 1px solid;
    background-color: #b2bfb5;
    /*opacity: 0.1;*/
}

.table-data {
    border: 1px solid;
    padding: 5px;
    /*margin-left: 500px;*/
}

.number-span {
    display: inline-block;
    width: 100px;
    text-align: center;
}

#percentual_costs_table {
    display: inline-block;
    width: 30%;

}

#fixed_costs_table {
    display: inline-block;
    width: 30%;
}

#variable_costs_table {
    display: inline-block;
    width: 30%;
}