<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'hefs/stylesheet.css' %}"/>
    <script src="https://unpkg.com/htmx.org"></script>

    <title>Routes</title>
</head>
<body>
{% include 'helpers/navbar.html' %}
<h1 class="page-title">Bezorging overzicht</h1>
<div>
    {% for verzendoptie, counts in verzendopties_dict.items %}
        <p>
            {{ verzendoptie }}: {{ counts }}
        </p>
    {% endfor %}
</div>
<h2>Bij indrukken van een van onderstaande knoppen gaan berekeningen lopen die geld kosten, alleen drukken met
    toestemming.</h2>
<div>
    <form hx-get="{% url 'generate_routes' %}" hx-target="#response" hx-swap="innerHTML">
        <label for="date">Select a date:</label>
        <input type="date" id="date" name="date" required>
        <button type="submit">Generate Routes</button>
    </form>
</div>
<div>
    <div>
        <form hx-get="{% url 'show_map' %}" hx-target="#map-container" hx-swap="innerHTML">
            <div>
                <label for="date">Date:</label>
                <input type="date" id="date" name="date">
            </div>
            <div>
                <label for="route_id">Route ID:</label>
                <input type="number" id="route_id" name="route_id" placeholder="Enter Route ID">
            </div>
            <div>
                <label for="conversie_id">ConversieID:</label>
                <input type="text" id="conversie_id" name="conversie_id" placeholder="Enter ConversieID">
            </div>
            <button type="submit">Filter Map</button>
        </form>
    </div>
    <a class="button-48" href="{% url 'calculate_coordinates' %}">Update Coordinaten</a>
</div>
<div>
    <a class="button-48" href="{% url 'update_distance_matrix' %}">Update Distance Matrix</a>
</div>
<div id="response">
    <!-- Response will be dynamically updated here -->
</div>
    <div id="map-container" style="max-width: 70%">
        <!-- The map will be rendered here -->
        <p>Use the form above to filter the map.</p>
    </div>
</body>
</html>