<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Gerijptebieren sync pagina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hefs/stylesheet.css' %}"/>
</head>
<body>
{% include "helpers/navbar.html" %}
<h1 class="page-title">Gerijptebieren sync pagina</h1>
    <a class="button-48" href="{% url 'start_product_sync' %}?type=all_original_products">Check of alle producten en aantallen op Gerijptebieren kloppen op partners</a>
    <a class="button-48" href="{% url 'start_product_sync' %}?type=all_partner_products">Check of alle producten op partners nog bestaan op Gerijptebieren</a>


{% for errorlog in error_logs %}
    <p>
        {{ errorlog.timestamp }}: {{ errorlog.error_message }}
    </p>
{% endfor %}
</body>


</html>