<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Klantinformatie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hefs/stylesheet.css' %}"/>
</head>
<body>
{% include "navbar.html" %}
<h1 class="page-title">Klantenoverzicht</h1>


<div id="customer-location-plot"><h3>Klantenlocaties</h3>
    {{ customer_location_plot|safe }}
</div>

Grafiek met aantal orders en orders afgelopen jaren <br>
Grafiek met locaties <br>
<br><br>
tabel met: <br>
Aantal orders nu <br>
Aantal personen nu <br>
Aantal orders verleden <br>
Aantal personen verleden <br>
Voorspelde aantal orders <br>
Voorspelde aantal personen <br>
</body>
</html>