<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hefs/stylesheet.css' %}"/>
    <title>Nieuwe order aanmaken</title>
</head>
<body>
{% include "navbar.html" %}
<h1>Voor nu nog niet functioneel, u kunt wel een order aanmaken op de <a href="/admin"> admin pagina</a></h1>
dit werkt als volgt:
- Maak een order aan
- Maak per besteld product een orderline aan, met de juiste (net aangemaakte) order
<br>

</body>
</html>