<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Producten overzicht</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'hefs/stylesheet.css' %}" />
</head>
<body>
{% include "navbar.html" %}


<h1>Producten overzicht</h1>
Tabel met: <br>
Aantal orders <br>
Aantal personen <br>
Aantal hoofdgerechten per order <br>
Gemiddelde omzet per order <br>
<br><br>
VEH tabel

<table>
    <tbody>
    {% for row in veh %}
    <tr>
        {% for v in row %}
        <td>{{ v }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>