<!DOCTYPE html>
<html lang="en">
{% load define_action %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Producten overzicht</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hefs/stylesheet.css' %}"/>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

    <script>
        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('vehTable');
            var wb = XLSX.utils.table_to_book(elt, {sheet: "sheet1"});
            return dl ?
                XLSX.write(wb, {bookType: type, bookSST: true, type: 'base64'}) :
                XLSX.writeFile(wb, fn || ('overzicht-VEH.' + (type || 'xlsx')));
        }
    </script>
</head>
<body>
{% include "navbar.html" %}


<h1 class="page-title">Producten overzicht</h1>
{#Tabel met: <br>#}
{#Aantal orders <br>#}
{#Aantal personen <br>#}
{#Aantal hoofdgerechten per order <br>#}
{#Gemiddelde omzet per order <br>#}
{#<br><br>#}
{#VEH tabel#}
<br>
<button onclick="ExportToExcel('xlsx')">Exporteer VEH naar Excel</button>
<br><br>
<p>
    <h3>{{ veh_is_empty }}</h3>
</p>
<table id="vehTable">
    <thead class="table-head">
    <th class="table-heading">omschrijving</th>
    {% for column in column_headers %}
        <th class="table-heading">
            {{ column.0 | date:"d-m-Y" }}
        </th>
    {% endfor %}
    </thead>
    {% for row in table %}
        {% define newrow as False %}
        {% if omschrijving != row.0 %}
            {% define row.0 as omschrijving %}
            {% define newrow as True %}
            <tr class="table-rows">
        {% endif %}
    {% for column in row %}
        <td class="table-data">
            {% if column != None %}
                {% if column|length < 4 %}
                    <span class="number-span">{{ column|floatformat }}</span>
                {% elif column|length > 4 %}
                    {{ column }}
                {% endif %}
            {% elif column == None %}
                <span class="number-span">0</span>
            {% endif %}
        </td>
    {% endfor %}
    {% if newrow %}
        </tr>
    {% endif %}
    {% endfor %}
</table>

</body>

</html>