{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hefs/stylesheet.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

</head>
<body>
{% include "helpers/navbar.html" %}

<h1 class="page-title">halfproducten</h1>
Typ het halfproduct in en klik op het halfproduct. Dan zullen de bijbehorende ingredienten zichtbaar worden.
<br>
Om Ingredienten aan een halfproduct toe te voegen, zoek en klik dan ook het ingredient, en vul de hoeveelheid (per KG)
in.
<br>
Druk dan op 'Wijs Ingredient toe'
<br>
Het aanmaken van halfproducten en ingredienten moet in de Admin pagina.
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Wijs Ingredient toe</button>
</form>
<h2>Ingredienten voor geselecteerd Halfproduct (per KG/L/Stuk)</h2>
<h4>Halfproduct: {{ default_halfproduct }}</h4>
<div id="ingredients-list">
    <p>Selecteer eerst een halfproduct</p>
</div>


<div id="quantity-form">
    <form id="calculation-form">
        <label for="quantity">Aantal porties:</label>
        <input type="number" id="quantity" name="quantity" min="1" required>
        <button type="submit">Bereken</button>
    </form>
    <div id="calculation-result"></div>
</div>

<div id="default-product" style="display: none;">{{ default_halfproduct }}</div>
<script>
    $(document).ready(function () {
        $("#calculation-form").submit(function (event) {
            event.preventDefault();
            var quantity = parseInt($("#quantity").val());
            if (isNaN(quantity) || quantity <= 0) {
                alert("Voer een geldige hoeveelheid in.");
                return;
            }
            var ingredientsList = $('#ingredients-list');
            let calculationResult = $('#calculation-result');
            calculationResult.empty(); // Clear previous results
            var data = [];
            ingredientsList.find('ul li').each(function () {
                var item = {};
                var parts = $(this).text().split(':');
                item.name = parts[0].trim();
                var quantityPart = parts[1].trim().split(' ');
                item.quantity = parseFloat(quantityPart[0]) * quantity;
                item.meeteenheid = quantityPart[1];
                data.push(item);
            });
            data.forEach(function (item) {
                var resultItem = $('<div></div>').text(item.name + ': ' + item.quantity + ' ' + item.meeteenheid);
                calculationResult.append(resultItem);
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Function to check if the default halfproduct is filled
        function checkDefaultProduct() {
            var defaultHalfproduct = $("#default-product").text().trim();
            if (defaultHalfproduct) {
                // Trigger the AJAX request to get ingredients for the default halfproduct
                $.ajax({
                    url: "{% url 'get_ingredients_for_halfproduct' %}",
                    data: {
                        halfproduct_name: defaultHalfproduct
                    },
                    dataType: "json",
                    success: function (data) {
                        let ingredientsList = $('#ingredients-list');
                        ingredientsList.empty();
                        if (data.length === 0) {
                            ingredientsList.append('<p>Geen Ingredienten gevonden voor halfproduct.</p>');
                        } else {
                            let bereidingswijze = null;
                            let meeteenheid = null;
                            let nodig_per_portie = null;
                            let bereidingskosten_per_eenheid = null;
                            if ('bereidingswijze' in data[data.length - 1]) {
                                bereidingswijze = data[data.length - 1]['bereidingswijze'];
                                ingredientsList.append('<p>Bereidingswijze: ' + bereidingswijze + '</p>');
                            }
                            if (('nodig_per_portie' in data[data.length - 1]) && ('meeteenheid' in data[data.length - 1])) {
                                nodig_per_portie = data[data.length - 1]['nodig_per_portie'];
                                meeteenheid = data[data.length - 1]['meeteenheid'];
                                ingredientsList.append('<p>Nodig per portie: ' + nodig_per_portie + ' ' + meeteenheid);
                            }
                            if ('bereidingskosten_per_eenheid' in data[data.length - 1]) {
                                bereidingskosten_per_eenheid = data[data.length - 1]['bereidingskosten_per_eenheid'];
                                ingredientsList.append('<p>Bereidingskosten per eenheid: ' + bereidingskosten_per_eenheid + '€ </p>');
                            }
// now pop the additional information from the data
                            if (bereidingswijze || nodig_per_portie || meeteenheid || bereidingskosten_per_eenheid) {
                                data.pop();
                            }
                            let list = $('<ul></ul>');
                            data.forEach(function (item) {
                                list.append('<li>' + item.name + ': ' + item.quantity + ' ' + item.meeteenheid + '</li>');
                            });
                            ingredientsList.append(list);
                        }
                    }
                });
                clearInterval(checkInterval); // Stop the timer once the default product is filled
            }
        }

        // Check the default product every second
        var checkInterval = setInterval(checkDefaultProduct, 300);
    });
</script>

<script>
    $(function () {
        $(".autocomplete-ingredient").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'ingredient_autocomplete' %}",
                    data: {
                        term: request.term
                    },
                    dataType: "json",
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
        });

        $(".autocomplete-halfproduct").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'halfproduct_autocomplete' %}",
                    data: {
                        term: request.term
                    },
                    dataType: "json",
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    url: "{% url 'get_ingredients_for_halfproduct' %}",
                    data: {
                        halfproduct_name: ui.item.value
                    },
                    dataType: "json",
                    success: function (data) {
                        let ingredientsList = $('#ingredients-list');
                        ingredientsList.empty();
                        if (data.length === 0) {
                            ingredientsList.append('<p>Geen Ingredienten gevonden.</p>');
                        } else {
                            let bereidingswijze = null;
                            let meeteenheid = null;
                            let nodig_per_portie = null;
                            let bereidingskosten_per_eenheid = null;
                            if ('bereidingswijze' in data[data.length - 1]) {
                                bereidingswijze = data[data.length - 1]['bereidingswijze'];
                                ingredientsList.append('<p>Bereidingswijze: ' + bereidingswijze + '</p>');
                            }
                            if (('nodig_per_portie' in data[data.length - 1]) && ('meeteenheid' in data[data.length - 1])) {
                                nodig_per_portie = data[data.length - 1]['nodig_per_portie'];
                                meeteenheid = data[data.length - 1]['meeteenheid'];
                                ingredientsList.append('<p>Nodig per portie: ' + nodig_per_portie + ' ' + meeteenheid);
                            }

                            if ('bereidingskosten_per_eenheid' in data[data.length - 1]) {
                                bereidingskosten_per_eenheid = data[data.length - 1]['bereidingskosten_per_eenheid'];
                                ingredientsList.append('<p>Bereidingskosten per eenheid: ' + bereidingskosten_per_eenheid + '€ </p>');
                            }
// now pop the additional information from the data
                            if (bereidingswijze || nodig_per_portie || meeteenheid || bereidingskosten_per_eenheid) {
                                data.pop();
                            }
                            ingredientsList.append('<hr>')
                            ingredientsList.append('<h4>Ingredienten</h4>')
                            let list = $('<ul></ul>');
                            data.forEach(function (item) {
                                list.append('<li>' + item.name + ': ' + item.quantity + ' ' + item.meeteenheid + '</li>');
                            });
                            ingredientsList.append(list);
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>