{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'hefs/stylesheet.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <title>Title</title>
</head>
<body>
{% include "helpers/navbar.html" %}

<h1 class="page-title">PRODUCTINFO</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Wijs Halfproduct toe</button>
</form>

<script>
    $(function () {
        $(".autocomplete-product").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'product_autocomplete' %}",
                    data: {
                        term: request.term
                    },
                    dataType: "json",
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
        });

        $(".autocomplete-halfproduct").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'halfproduct_autocomplete' %}",
                    data: {
                        term: request.term
                    },
                    dataType: "json",
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    url: "{% url 'get_ingredients_for_halfproduct' %}",
                    data: {
                        halfproduct_name: ui.item.value
                    },
                    dataType: "json",
                    success: function (data) {
                        let ingredientsList = $('#ingredients-list');
                        ingredientsList.empty();
                        if (data.length === 0) {
                            ingredientsList.append('<p>Geen Ingredienten gevonden.</p>');
                        } else {
                            let bereidingswijze = null;
                            let meeteenheid = null;
                            let nodig_per_portie = null;
                            let bereidingskosten_per_eenheid = null;
                            console.log('data2')
                            console.log(data)
                            console.log(data[data.length - 1])
                            if ('bereidingswijze' in data[data.length - 1]) {
                                bereidingswijze = data[data.length - 1]['bereidingswijze'];
                                ingredientsList.append('<p>Bereidingswijze: ' + bereidingswijze + '</p>');
                            }
                            if (('nodig_per_portie' in data[data.length - 1]) && ('meeteenheid' in data[data.length - 1])) {
                                nodig_per_portie = data[data.length - 1]['nodig_per_portie'];
                                meeteenheid = data[data.length - 1]['meeteenheid'];
                                ingredientsList.append('<p>Nodig per portie: ' + nodig_per_portie + ' ' + meeteenheid);
                            }

                            if ('bereidingskosten_per_eenheid' in data[data.length - 1]) {
                                bereidingskosten_per_eenheid = data[data.length - 1]['bereidingskosten_per_eenheid'];
                                ingredientsList.append('<p>Bereidingskosten per eenheid: ' + bereidingskosten_per_eenheid + '€ </p>');
                            }
// now pop the additional information from the data
                            if (bereidingswijze || nodig_per_portie || meeteenheid || bereidingskosten_per_eenheid) {
                                data.pop();
                            }
                            ingredientsList.append('<hr>')
                            ingredientsList.append('<h4>Ingredienten</h4>')
                            let list = $('<ul></ul>');
                            data.forEach(function (item) {
                                list.append('<li>' + item.name + ': ' + item.quantity + ' ' + item.meeteenheid + '</li>');
                            });
                            ingredientsList.append(list);
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>