{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'hefs/stylesheet.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <title>Title</title>
</head>
<body>
{% include "helpers/navbar.html" %}

<h1 class="page-title">PRODUCTINFO</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Wijs Halfproduct toe</button>
</form>
<div id="ingredients-list">
    <p>Selecteer eerst een Product</p>
</div>
<div id="default-product" style="display: none;">{{ default_product }}</div>
<script>
    $(document).ready(function () {
        // Function to check if the default halfproduct is filled
        function checkDefaultProduct() {
            var defaultproduct = $("#default-product").text().trim();
            if (defaultproduct) {
                // Trigger the AJAX request to get ingredients for the default halfproduct
                $.ajax({
                    url: "{% url 'get_halfproducts_and_ingredients' %}",
                    data: {
                        product_name: defaultproduct
                    },
                    dataType: "json",
                    success: function (data) {
                        let ingredientsList = $('#ingredients-list');
                        ingredientsList.empty();
                        if (data.length === 0) {
                            ingredientsList.append('<p>Geen Ingredienten gevonden.</p>');
                        } else {

                            ingredientsList.append('<h3>Halfproducten en Ingredienten</h3>')
                            for (const key in data) {
                                let list = $('<ul>' + key + '</ul>');
                                if (data.hasOwnProperty(key)) {
                                    data[key].forEach(item => {
                                        list.append('<li>' + item.name + ': ' + item.quantity + ' ' + item.meeteenheid + '</li>')
                                    })
                                }
                                ingredientsList.append(list);
                            }
                        }
                    }
                });
                clearInterval(checkInterval); // Stop the timer once the default product is filled
            }
        }

        // Check the default product every second
        var checkInterval = setInterval(checkDefaultProduct, 300);
    });
</script>

<script>
    $(function () {
        $(".autocomplete-halfproduct").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'halfproduct_autocomplete' %}",
                    data: {
                        term: request.term
                    },
                    dataType: "json",
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
        });

        $(".autocomplete-product").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'product_autocomplete' %}",
                    data: {
                        term: request.term
                    },
                    dataType: "json",
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $.ajax({
                    url: "{% url 'get_halfproducts_and_ingredients' %}",
                    data: {
                        product_name: ui.item.value
                    },
                    dataType: "json",
                    success: function (data) {
                        let ingredientsList = $('#ingredients-list');
                        ingredientsList.empty();
                        if (data.length === 0) {
                            ingredientsList.append('<p>Geen Ingredienten gevonden.</p>');
                        } else {

                            ingredientsList.append('<h3>Halfproducten en Ingredienten</h3>')
                            for (const key in data) {
                                let list = $('<ul>' + key + '</ul>');
                                if (data.hasOwnProperty(key)) {
                                    data[key].forEach(item => {
                                        list.append('<li>' + item.name + ': ' + item.quantity + ' ' + item.meeteenheid + '</li>')
                                    })
                                }
                                ingredientsList.append(list);
                            }
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>